
html {
    background-color: gray;
}
body {
    allign: center;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    
    text-align: center;
    
     
}
.spaceadjustment {
    background-color: white;
    min-height: 20px;
    
}

 header{
    background-color: red;
    min-height: 400px;
    background-image: url("./resources/BannerImage.png");
    background-size:  90% 100%;
    text-align: center;
    position: relative;
    background-position: center;
    background-size: cover;
 }
header h2 {
padding-top: 20px;;
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

Header h1 {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 40px; /* 131.944% */
}


 h2 {color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



#holiday {color: #F00;
    text-transform: uppercase;


}



#allCategories{text-transform: capitalize;
    color: #070211;
    text-transform: uppercase;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -25px;
 
}




/* Midnight party section */

#midnightparty {
   
    margin-top: 45px;
    min-height: 400px;
    background-image: url("./resources/Vectorrr.png");
    background-size:  90% 100%;
    text-align: center;
    position: relative;
    background-position: center;
    background-size: cover;
}


#midnightparty h1 {
    color: #FFF;
    padding-top: 30px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px; /* 137.5% */
    letter-spacing: 4.04px;
    text-align: left;
    padding-left: 160px;
}

#midnightparty p {
    padding-top: -15px;
    margin-top: -20px;
    color: #FFF;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-align: left;
    padding-left: 160px;
}


#midnightparty h5 {
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    padding-left: 160px;
}




/* place details */
#placedetails {
    height: 400px;
    background-color: gradient(#F00, #000);
    font-weight: bold;
    background: linear-gradient(to bottom, #f7c89c, #fafafa);
    padding: 0px;
}

#placedetails h6{
line-height: 5px;
color: #F00;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
text-transform: capitalize;
}






/* New Best offer section */
#newBestOffer {
    width: 840px;
    margin-top: 30px;
    background-color: aquamarine;
    display: block;
    float: center;
    allign: center;
}
#soontextleft {
    width: 280px;
    float: left;
    text-align: left;
    padding-left: 20px;
}
#middleimage {
    width: 280px;
    float: left;
    border: 8px solid red; /* Adjust the border width and color as needed */
    border-radius: 145px; /* Adjust the border-radius to control the corner roundness */
    overflow: hidden; /* Ensures the border radius is applied to the image */
}

#rightsidecontent{
    width: 242px;
    float: left;
}


#paragrapharea{
  width: 220px;
}

.box22 {
    width: 200px;
}


/* what is functional */

#whatFunction{
    background-color:rgb(144, 95, 160);
    min-height: 50px;
    display: inline-block;
    width: 840px;
}



/* 50pdiscoutn */
#fiftypdiscoutn{
    background-color: beige;
    width: 840px;
}

#upperrow{
    width: 840px;
}

#ll{

}
#mm{

}

#rr{

}

#imageplaced{
    width: 280px;
    
    

}

#downrow{
    min-height: 150px;
    background-color: red;
    width: 840px;
}





/* images  table */
#imagetop {
    width: 550px;
    float: left;
    padding-left: 60px;

    
}
#imagetop p {
    text-align: left;
}
#imagetop h3 {
text-align: left;
font-family: Merriweather;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
 

.array {
    width: 271px;
    margin: 4px;
}




/* Subscribe */
#subscribe {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 840px;
  
    text-align: center;
    background-color:red;
}

#subscribe .header{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

}

#subscribe .paragraph{
    width:400px;
     
    float: center;
    text-align: center;
  
    margin-top: 20px;
    margin-bottom: 30 px;
}

#subscribe .button {
    color: #070211;
    margin-top: 20px;
    padding-bottom: 30px;
 
}
.form2 {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}



/* footer */


    footer {  background-color:#070211;
        color: white  }

    .footertop{
        padding-top: 30px;
        padding-bottom: 30px;
        display: inline-block;
    }
    .address{
        width: 200px;
        float: left;
        
    }


    .phonenumberandweb {
        width: 200px;
        float: left;
    }
    .social{
        padding-top: 30px;
        padding-bottom: 30px;
        display: inline-block;
    }

    .copyright{
        padding-top: 30px;
        padding-bottom: 30px;

    }
    hr {
      width: 80%;  
     
      border: .01px solid gray;
    }